extends ../layout


block title
  | Tours

block content
  .container-fluid
    #tour-index-header.row
      .col-md-4.col-xs-4
        a(href="/tours")
          i.fa.fa-caret-left.tour-index-title
          span.tour-index-title BACK
      .col-md-4.col-xs-4.text-center
        img#tour-index-icon(src='/img/small-logo.png')
    .row
      #house-image.col-md-7.col-xs-7.no-padding
        p#customer-name-p !{tour.tourName }
      #location-image.col-md-5.col-xs-5.no-padding
    #show-info-row.row
      .col-xs-6.no-padding
        | Status:
        span.index-status.text-uppercase !{tour.status}
      .col-xs-6.no-padding
        | Notification:
        span.index-status.text-uppercase !{tour.notificationStatus}
    .row.show-button-row
      .col-xs-12.text-center
        form(method='POST', action="/tours/#{tour.id}/pickup", accept-charset='UTF-8')
          button.btn.show-button(type='submit')
            .col-xs-3.text-center
              img#tour-index-icon(src='/img/small-logo.png')
            .col-xs-6.text-center
              | PICK-UP

    .row.show-button-row
      .col-xs-12.text-center
        form(method='POST', action="/tours/#{tour.id}/deliver", accept-charset='UTF-8')
          button.btn.show-button(type='submit')
            .col-xs-6.col-xs-offset-3.text-center
              | DELIVER
            .col-xs-3.text-center
              i.fa.fa-bicycle
